<section id="how-to-use-vestibule">

  <h3 id="qué-es-startup-open-space-zaragoza-2014">Qué es Startup Open Space Zaragoza 2014?</h3>

  <p>Es un evento sobre startups o empresas tecnológicas que se celebrará el próximo sábado 22 de Febrero en Zaragoza (<a href="http://cachirulovalley.com/2014/startup-open-space-2014/">más info</a>), organizado por el colectivo <a href="http://cachirulovalley.com/">CachiruloValley</a>.</p>

  <p>Un <a href="http://cachirulovalley.com/2014/startup-open-space-2014/">Open Space</a> es una conferencia en la que la agenda no está predefinida. Los propios asistentes proponen temas a tratar, y entre todos se votan los más interesantes. Las propuestas elegidas se realizan a lo largo del día. Además no se trata de ponencias, sino de coloquios en los que se fomenta el debate y la participación, facilitados por el proponente.</p>

  <p>En <a href="http://sesiones.cachirulovalley.com">esta herramienta</a> los participantes pueden proponer charlas durante los días previos al evento. También se pueden hacer sugerencias sobre las mismas. El día del evento se seleccionarán las sesiones mediante votación. De esta forma se pretende ir aportando ideas y opiniones, para que todos saquemos el máximo provecho de la jornada.</p>

  <p>El tema global del evento son las <strong>startups</strong>. Se esperan tratar temáticas particulares tales como: pricing, Lean startup, financiación, metodologías ágiles, bootstraping, tecnologías y lenguajes de programación, organización y herramientas de comunicación, trabajo en equipo, gestión de proyectos… o cualquier otra que pueda surgir y despertar interés.</p>

  <h3 id="qué-es-vestibule">Qué es Vestibule?</h3>

  <p><a href="https://github.com/rubymanor/vestibule">Vestibule</a> es una herramienta desarrollada por la comunidad <a href="http://rubymanor.org/">Ruby Manor</a> para ayudar a preparar los contenidos de sus conferencias. Al ser software libre (gracias!), ha sido adaptada para el evento <a href="http://cachirulovalley.com/2014/startup-open-space-2014/">Startup Open Space Zaragoza 2014</a>, donde se usará para reunir propuestas y sugerencias de charlas.</p>

  <br/>
  <p>Gracias por participar!</p>

</section>
