<%= page_title 'Motivations', no_h1=true %>
<h2>¿Por qué te interesa Java.next(16)?</h2>
<p>Si has decidido pasar un sábado por la mañana hablando sobre el futuro de Java, es por algo. Eres una de las -cada vez más- personas que piensan que su trabajo es algo más que dos nalgas sobre una silla y dos manos sobre un teclado. Por eso queremos hacer que este evento <em>merezca la pena</em>. ¿Nos ayudes a lograrlo? Cuéntanos qué es o que te anima a participar.</p>

<p>Aquí tienes la lista de asistentes y sus respectivas motivaciones:</p>

<% @users.each do |user| %>
  <blockquote><cite><%= link_to '@'+user.twitter_nickname, user %>:</cite><%= markdown user.signup_reason %></blockquote>
<% end %>

<hr />

<h2 id="slackers">Y estas personas necesitan encontrar su motivación ;-)</h2>

<%= @losers.map { |l| link_to('@'+l.twitter_nickname, l) }.to_sentence.html_safe %>
